#wrapper {
    background-image: url("./../../images/picb.jpg");
   }

   #footer {
    background-image: url("./../../images/25628.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgba(245, 252, 205, 0.748);
}
